# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [1]:
number = 1
print (number)

1

##### Assinging float

In [2]:
numberfloat = 1.3
print (numberfloat)

1.3

#### Performing Calculations on ints and floats

##### Addition

In [10]:
num1 = 40
num2 = 20
result = num1 + num2
print (result)

60

##### Subtraction

In [11]:
result_sub = num1 - num2
print (result_sub)

result_sub -=10
print (result_sub)

20
10

##### Multiplication

In [13]:
result_mul = num1 * num2
print (result_mul)

result_mul *= 0.5
print (result_mul)

800
400.0

##### Division

In [15]:
result_div = num1 / num2
print (result_div)

result_div /=2
print (result_div)

2.0
1.0

##### Floor Division

In [18]:
result_floor = 60.2 // num2
print (result_floor)

result_floor //=15
print (result_floor)

3.0
0.0

##### Modulo

In [21]:
result_mod = 41 % num2
print (result_mod)

result_mod  %=1
print (result_mod)

1
0

##### Exponential

In [24]:
square = 10 **2
print (square)

square **= 2
print (square)

100
10000

### String Input-Output

##### String Assignment

In [26]:
name = "Bianca"
print (name)

age = "24" #everything between " " will return as a string
print (age)

Bianca
24

##### print() <br>
<p>Don't forget about end=' '</p>

In [32]:
print ("This is my first name: " , name)
print ("Full name: ", name , "Nagata")

This is my first name:  Bianca
Full name:  Bianca Nagata

##### String Concatenation

In [35]:
last_name = "Nagata"
full_name = name + " "+last_name
print(full_name)

Bianca Nagata

##### Type Conversion

In [37]:
number = 10
change_type_num = int(number)
print (number) #same result but now you can use for math calcs with other integers

print (number +10)

10
20

##### input()

In [42]:
#input will always return a string

age= input ("Whats your age?")

age= int(input("Whats your age?"))
print (age)

age_add =  age + 1
print (age_add)

Whats your age?24
Whats your age?22
22
23

##### format()

In [44]:
age = input ("Whats your age?")
result_string = "You are {} {} and you are getting wiser!".format (age, name)
print(result_string)

other_result = f"{age} is a great time in life!"
print(other_result)

Whats your age?24
You are 24 Bianca and you are getting wiser!
24 is a great time in life!

##### Old Way (python 2)

In [46]:
result_string2 = "You are %s and you look great for your age" %age
print (result_string2)

You are 24 and you look great for your age

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [50]:
car_model = input ("What's the model of your car?")
car_year = input ("What's the year of your car?")
car_color = input ("What's the color of your car?")
car_brand = input ("What's the brand of your car?")

print

car_sentence= f"{car_year},{car_model} is one of the best {car_brand} cars. {car_color} is a very beautiful option."
print(car_sentence)

What's the model of your car?a
What's the year of your car?a
What's the color of your car?a
What's the brand of your car?a
a,a is one of the best a cars. a is a very beautiful option.

### If Statements

In [59]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

num1 =5
num2 = 10
num3 = 0

if num1 > num2:
    print("num1 is greater")
elif num2 >num1:
    print ("num2 is greater")
else:
    print("same values")
    
number1 = 10
number2 = 5
number3 = 20

if number1>number2 or number3>5:
    print ("Numbers 1 and 3 are greater than 5")

num2 is greater
Numbers 1 and 3 are greater than 5

##### 'is' keyword

In [64]:
if num3 == 0: #is didnt work so I used "=="
    print ("Exact number")

Exact number

##### 'in' keyword

In [68]:
char_name = "Harry Potter"
if "Harry" in char_name:
    print ("Harry is there")

Harry is there

##### 'not in' keyword'

In [70]:
char_name = "Harry Potter"
if "w" not in char_name:
    print ("Letter w is not there")

Letter w is not there

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [72]:
name = input ("What's your name?")
if "p" in name:
    print("You have the letter 'p' in your name.")
if "p" not in name:
    print ("You don't have the letter 'p' in your name")

What's your name?Bianca
You don't have the letter 'p' in your name

## Using 'and'/'or' with If Statements

In [73]:
num_11 = 15
num_12 = 3
num_13 = 10
num_14 = 3

#If with "and" statement
if num_11 / 5 == num_12 and num_13 - 7 == num_14:
    print ('True and true')
    
#If with "or" statement
if num_13 == num_14 or num_11 > num_12:
    print ('False and True')

True and true
False and True

### Elif Statements

In [75]:
first_name =  input("What's your name?")

if first_name == 'Smith':
    print("The name is Smith")
elif first_name =="Brandon":
    print ('The name is Brandon')
elif first_name != 'Max':
    print ('The name is not Max')
else:
    print ('The name is Max')

What's your name?brandon
The name is not Max

### Else Statements

In [ ]:
# see above

### For Loops

In [81]:
name = "Bianca" 
for i in name:
    print (i)

B
i
a
n
c
a

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [112]:
for i in range (20):
    if i == 5:
        continue
    print (i)

0
1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Break Statement

In [93]:
# will break out of current loop

In [113]:
for i in range (20):
    if i == 5:
        break
    print (i)

0
1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [114]:
name = "Barbara"
for i in name:
    pass

##### Double For Loops

In [119]:
for i in range (5):
    for j in range (5):
        print ('i= ' , i, 'j= ' , j)

i=  0 j=  0
i=  0 j=  1
i=  0 j=  2
i=  0 j=  3
i=  0 j=  4
i=  1 j=  0
i=  1 j=  1
i=  1 j=  2
i=  1 j=  3
i=  1 j=  4
i=  2 j=  0
i=  2 j=  1
i=  2 j=  2
i=  2 j=  3
i=  2 j=  4
i=  3 j=  0
i=  3 j=  1
i=  3 j=  2
i=  3 j=  3
i=  3 j=  4
i=  4 j=  0
i=  4 j=  1
i=  4 j=  2
i=  4 j=  3
i=  4 j=  4

### While Loops

In [120]:
num = 0 
while num <10:
    print (num)
    num +=1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

##### While & For Loops Used Together

In [123]:
num = 0 
while num <5:
    print ("\n While loop iteration:" + str(num))
    
    for i in range (2):
        print ("For loop iteration:" + str(i+1))
        
    num +=1

 While loop iteration:0
For loop iteration:1
For loop iteration:2

 While loop iteration:1
For loop iteration:1
For loop iteration:2

 While loop iteration:2
For loop iteration:1
For loop iteration:2

 While loop iteration:3
For loop iteration:1
For loop iteration:2

 While loop iteration:4
For loop iteration:1
For loop iteration:2

### Built-In Functions

##### range()

In [131]:
for i in range (10):
    print (i)
    

    
for i in range (2, 8): #start on 2nd, stop on 8th
    print (i)
    
for i in range (1, 10, 3) :
    print (i)

0
1
2
3
4
5
6
7
8
9
2
3
4
5
6
7
1
4
7

##### len()

In [135]:
name = "Bianca Nagata"
len(name)

13

##### help()

In [136]:
help (len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

##### isinstance()

In [137]:
if isinstance (4.5,float):
    print ("This is a float")

This is a float

##### abs()

In [138]:
print (abs(-2))

2

### Try and Except

In [141]:
try:
    input_num = int(input('Guess a number: '))
    print ('Your number is ' +str(input_num))
    
except:
    print ("That didn't work. Change your input to a number!")

Guess a number: bb
That didn't work. Change your input to a number!

### Lists

##### Declaring Lists

In [ ]:
list_name = ['bianca', 'amanda', 'barbara', 'caio']

##### Indexing a List

In [151]:
#list_name [start: stop: step:]
list_name = ['bianca', 'amanda', 'barbara', 'caio']

#single index:
print (list_name [1])

#printing starting at index 1 and going to the end
print(list_name[1:])

#print starting at the beggining of a list up until a number
print(list_name[:2])

#print starting at index 1 and going up by 2 in each iteration
print(list_name [1::2])

#print starting at the back and display in reverse order 
print (list_name [::-1])

#other example
print (list_name [0:3:2])

amanda
['amanda', 'barbara', 'caio']
['bianca', 'amanda']
['amanda', 'caio']
['caio', 'barbara', 'amanda', 'bianca']
['bianca', 'barbara']

##### .append()

In [152]:
list_name.append ("bruno")
print(list_name)

['bianca', 'amanda', 'barbara', 'caio', 'bruno']

##### .insert()

In [157]:
list_name.insert(2, "vinicius") #it will add "vinicius at index 2"
print (list_name)

['bianca', 'amanda', 'vinicius', 'vinicius', 'barbara', 'caio', 'bruno']

##### .pop()

In [160]:
my_names = list_name.pop(0)
print (my_names)
print (list_name)

amanda
['vinicius', 'vinicius', 'barbara', 'caio', 'bruno']


##### .remove()

In [163]:
list_name.remove ('bruno')
print (list_name)

['vinicius', 'vinicius', 'barbara']

##### del()

In [164]:
del (list_name[1])
print (list_name)

['vinicius', 'barbara']

##### Concatenating Two Lists

In [165]:
new_list = [1,2,3,4,5]
other_list = [6,7,8,9]

both_together = new_list + other_list
print (both_together)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

##### Lists Within Lists

In [174]:
list1 = [1,2,[3,4,5,6,7],8,9]

print (list1)

print (list1 [1])

print (list1 [2][3]) #it will go to index 2 and print the index 3 [3,4,5,6,7] is ONE index of the list1, with other indexes inside

[1, 2, [3, 4, 5, 6, 7], 8, 9]
2
6

##### Looping Through Lists

In [179]:
#two ways of looping through lists. One is by index, the other is using the 'in' keyword.
sports= ['soccer','swimming', 'basketball']
#by index:
for item in range (len(sports)):
    print (sports [item])
    
#loop with in 

for item in sports:
    print (item)

soccer
swimming
basketball
soccer
swimming
basketball

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [11]:
total = 1000

for number in range(1, total):
    cube = number ** 3

    if cube > total:
        break

    print(cube)

1
8
27
64
125
216
343
512
729
1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [1]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

for i in range(2,101): 
    for num in range(2,101):
        if i%num == 0:
            break
    if i == num:
        print(i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [ ]:
age= input("What's your age?")

if age < "18":
    print ("Kids")
    
elif age > "65":
    print ("Seniors")

else:
    print ("Adults")

SyntaxError: invalid syntax (3277417328.py, line 1)

SyntaxError: invalid syntax (1719299567.py, line 1)